body,html{
    width: 100%;
    height: 100%;
}

[class^="dom-"] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.dom-2d {
    pointer-events: none;
    z-index: 1;
}